* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.story {
  width: 80%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.story-title {
  margin-bottom: 4px;
  color: #9deb0b;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .story {
    width: 90%;
  }
}
